In [3]:
# just a sample dataset, could also be .csv file
import pandas as pd

universities = [
    {"University": "Harvard", "Tier": 1},
    {"University": "Stanford", "Tier": 1},
    {"University": "MIT", "Tier": 1},
    {"University": "Yale", "Tier": 1},
    {"University": "Princeton", "Tier": 1},
    {"University": "Columbia", "Tier": 2},
    {"University": "UCLA", "Tier": 2},
    {"University": "University of Toronto", "Tier": 2},
    {"University": "Oxford", "Tier": 3},
    {"University": "Cambridge", "Tier": 3},
]

colleges = [
    {"College": "Indian Institute of Technology Bombay", "Tier": 1},
    {"College": "Indian Institute of Technology Delhi", "Tier": 1},
    {"College": "Indian Institute of Technology Madras", "Tier": 1},
    {"College": "National Institute of Technology Surathkal", "Tier": 2},
    {"College": "Manipal Institute of Technology", "Tier": 2},
    {"College": "Anna University, Chennai", "Tier": 2},
    {"College": "Amrita School of Engineering", "Tier": 3},
    {"College": "XYZ Engineering College", "Tier": 3},
]

universities = pd.DataFrame(universities)
colleges = pd.DataFrame(colleges)

In [4]:
def calculate_10th_grade_score(percentage):
    if percentage > 85:
        return 2
    elif percentage > 75:
        return 1.5
    elif percentage > 60:
        return 0
    return None

def calculate_12th_grade_score(percentage):
    if percentage > 85:
        return 2
    elif percentage > 75:
        return 1.5
    elif percentage > 60:
        return 0
    return None

def ug_score(college_tier):
    if college_tier == 1:
        return 2
    elif college_tier == 2:
        return 1
    return 0

def calculate_btech_score(marks):
    if marks == 'First Class with Gold':
        return 2
    elif marks == 'First Class':
        return 1
    return None

def calculate_mtech_score(marks):
    if marks == 'First Class with Gold':
        return 2
    elif marks == 'First Class':
        return 1
    return 0

def calculate_phd_score(university_tier, marks):
    if university_tier == 1 and marks == 'First Class':
        return 2
    elif university_tier == 1:
        return 1
    elif marks == 'First Class':
        return 0
    return None

def calculate_academic_score(grade_10th, grade_12th, btech_marks,ug, mtech_marks, university, phd_marks):

    university_row = universities[universities['University'] == university]
    university_tier = university_row['Tier'].values[0] if not university_row.empty else 3

    college_row = colleges[colleges['College'] == ug]
    college_tier = college_row['Tier'].values[0] if not college_row.empty else 3

    factors = [
        calculate_10th_grade_score(grade_10th),
        calculate_12th_grade_score(grade_12th),
        calculate_btech_score(btech_marks),
        ug_score(college_tier),
        calculate_mtech_score(mtech_marks),
        calculate_phd_score(university_tier, phd_marks)
    ]
    if None in factors:
        return None
    return sum(factors) / len(factors)

In [5]:
academic_score = calculate_academic_score(90, 80, 'First Class','Indian Institute of Technology Madras','First Class with Gold', 'Harvard', 'First Class')
print(academic_score)

1.75